@model LayoutViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.PartialAsync("HeadPartial", Model)
<body>
    @Html.PartialAsync("HeaderPartial", Model)
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @Html.PartialAsync("FooterPartial", Model) 
    @Html.PartialAsync("ScriptPartial", Model)

    @await RenderSectionAsync("Scripts", required: false);
</body>
</html>

