
@model List<FormViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_Adminlayout.cshtml";
}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed; /* Tablonun genişliğini sabitler */
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        max-height: 100px; /* Hücre maksimum yüksekliği */
        overflow: hidden; /* Taşan içeriği gizler */
        text-overflow: ellipsis; /* Taşan içeriği ... ile gösterir */
        white-space: nowrap; /* Metni tek satırda tutar */
        vertical-align: top; /* İçeriği üstte hizalar */
    }

    th {
        background-color: #f2f2f2;
        text-align: left;
    }
</style>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Active</th>
        <th>Title</th>
        <th>Form Type</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
        <th>Set Form</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
         
        <td>@item.FormId</td>
            <td>
                <a href="#" class="btn @(item.IsActive ? "btn-success" : "btn-danger")">
                    @(item.IsActive ? "True" : "False")
                </a>
            </td>
        <td>@item.Title</td>
        <td>@item.FormType</td>
        <td>@item.Description</td>
        <td><a href="/Form/EditForm/@item.FormId" class="btn btn-danger">Edit</a></td>
        <td><a href="/Form/DeleteForm/@item.FormId" class="btn btn-danger">Delete</a></td>
        <td><a href="/Form/UpdateForm/@item.FormId" class="btn btn-success">Update</a></td>
        <td><a href="#" class="btn btn-Dark">Details</a></td>
        <td><a href="/Form/SetForm/@item.FormId" class="btn btn-dark">Set Form</a></td>
       
    </tr>
}
</table>
<a href="/Form/AddForm" class="btn btn-info">New Form Entry</a>

